body {
    background-color: #7E99A3 !important;
    color: #fff;
    font-family: monospace;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #333 !important;
}

.nav-link {
    color: #333;
    transition: color 0.3s ease;
}
  

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
    
.hero-content h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-section p {
    color: #4C585B;
}
    
.hero-content h1 span {
    color: #aaa;
    font-weight: normal;
}
    
.btn-custom {
    background-color: #a8008c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
    
.btn-custom:hover {
    background-color: #d62839;
    color: white;
    transform: scale(1.1);
}
      
.hire-btn {
    background-color: #27e143;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}
    
.hire-btn:hover {
    background-color: #7E99A3;
    color: white;
    transform: scale(1.1);
}
    
.hero-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%; 
}

.section-divider {
    border: none;
    width: 100%; 
    max-width: 1150px; 
    height: 2px;
    background: #ddd; 
    margin: 60px auto;
}

